<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBlogService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9001/BlogService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlogService" contract="BlogService.IBlogService" name="BasicHttpBinding_IBlogService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
